@import '../../assets/variables.scss';

.wrapper{
    height: calc(100vh - 80px);
    padding:20px;
    overflow-y: auto;
}

.items{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
}
.item{
    flex: 1;
    position: relative;
}