//colors
$orange: hsl(26, 100%, 55%);
$paleOrange: hsl(25, 100%, 94%);
$darkBlue: hsl(220, 13%, 13%);
$darkgrayishBlue: hsl(219, 9%, 45%);
$grayishBlue: hsl(220, 14%, 75%);
$lightGrayishBlue: hsl(223, 64%, 98%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$lighterBlack: hsl(0, 0%, 75%);
$transparent: transparent;
$dark: #333;

//Screensizes
$mobile: 375px;
$tablet: 768px;
$desktop: 14440px;

.flex-item {
  display: flex;
}

.col {
  flex-direction: column;
}

.row {
  flex-direction: row;
}
.items-center {
  align-items: center;
}

.p-1 {
  padding: 1rem;
}
.p-1-5 {
  padding: 1.5rem;
}
.m-1 {
  margin: 1rem;
}
.m-auto {
  margin: auto;
}
.m-lr-auto {
  margin: 0 auto;
}
.m-tb-auto {
  margin: auto 0;
}
.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}
.w-25 {
  width: 25%;
}
.ml-1 {
  margin-left: 1rem;
}
.mr-1 {
  margin-right: 1rem;
}
.mt-1 {
  margin-top: 1rem;
}
.mt-0 {
  margin-top: 0rem;
}
.mb-0 {
  margin-bottom: 0rem;
}
.flex {
  flex: 1 1 0px;
}

.block {
  display: block;
}

.cart_btn {
  padding: 10px 3rem;
  background: $orange;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 12px;
  margin-left: 4px;
}
